<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="verPassword.js"></script>
    <title>Backend - 3° Entrega Proyecto Final</title>
</head>

<body>
    <div class="container">
        <div class="row" id="divContenedor">
            <form id="divDatosForm" action="/register" method="post" enctype="multipart/form-data">
                <div class="col-md-12 text-center mt-3 card cardatosContacto">
                    <div class="card-body">
                        <div>
                            <h2 class="mb-0">Backend - Datos de Usuario </h3>
                        </div>
                        <div id="infoUserContainer">
                            <!--<img src="../uploads/<%= userData.foto%>" alt="user image">-->                            
                            <h3><%= userData.username %></h3>
                            <p>Email: <%= userData.email %></p>
                            <p>Telefono: <%= userData.telefono %></p>
                            <p>Direccion: <%= userData.direccion %></p>
                            <p>Edad: <%= userData.edad %></p>                                 
                            <img  style="width: 15rem;" src="/uploads/<%=userData.foto%>" alt="user image">                       
                        </div>	
                        <div>                            
                            <input type="button" onclick="location.href='/'" class="btn btn-outline-secondary mt-3"   id="btnRegister" value="Volver a Home" />
                        </div>
                </div>
        </div>
    </div>
    </form>
    </div>
</body>

</html>